.header {
    display: flex;
    justify-content: center;
    &__image {
        max-width: 400px;
        margin-right: 45px;
        &:hover {
            transform: scale(1.5);
        }
    }
    &__title {
        max-width: 300px;
        text-align: center;
        border: 2px solid brown;
        padding: 150px 0;
        color: brown;
        background-color: #e5f4ff;
    }
}

@media screen and (max-width: 850px) {
    .header {
        display: flex;
        align-items: center;
        flex-direction: column;
        &__image {
            max-width: 400px;
            margin-right: 0;
        }
        &__title {
            border: none;
            padding: 0;
            background-color: white;
            margin: 25px 0 0;
        }
    }
}