/*Файл с миксинами*/

@mixin title ($m-width) {
    font-size: $title-font;
    margin: 0 auto 25px;
    max-width: $m-width;
    border: 2px solid black;
}

@mixin subtitle {
    font-size: $subtitle-font;
    margin: 15px 0;
}

@mixin text {
    font-size: $text-font;
    margin-bottom: 15px;
}