.psychology {
    margin: 0 auto;
    &__title {
        margin-top: 0;
    }
    &__description {
        margin-bottom: 0;
    }
    &__link {
        color: green;
        text-transform: uppercase;
    }
}